# Auto detect text files and perform LF normalization
* text=auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Muhammad Siddique
	email = siddiqkhan92@outlook.com
